/*************************************************************************
* Chris's Standard page preset template 
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.5rem;
   line-height: 1.5;
   font-family: 'Montserrat', 'Open Sans', sans-serif;
   background-image: url("../images/background01.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Montserrat', sans-serif;
   /* font-family: 'Open Sans', sans-serif; */
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.container {
   width: 95%;
   margin: 2rem auto; 
   box-shadow: 0 1rem 2rem #535353d5;
   border-radius: 5px;
}

.header {
  width: 100%;
  height: 90px;
  background-color: #e9e9e9d5;
  text-align: center;
}

.h1Title {
  font-size: 50px;
  /* text-transform: uppercase; */
  color: #f12361d5;
}

.presetSearch {
  padding: 2rem 0;
  border-bottom: 1px solid #cfcfcfd5;
  background-color: #fcfcfcd5;
  text-align: center;
}

.searchBox {
  padding: 2rem 2rem;
}
 
.presetItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

span {
  margin: 0 .5rem;
  background-color: #f12361d5; 
  padding: 5px 15px;
  color: #ffffffd5;
  border: none;
  border-radius: 3px;
  box-shadow: 0.1rem 0.2rem 1rem #838383d5;
}

span:hover,
#searchBtn:hover {
   color: #f19845d5;
   box-shadow: 1px 1px 1rem #6d6c6c;
}

span:active,
#searchBtn:active {
   box-shadow: .5px .5px .5rem #666666;
   transform: translateY(3px);
}

input {
  margin: 3px 5px;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
}

#searchBtn {
  background: #f12361d5;
  color: #ffffffd5;
  box-shadow: 0.1rem 0.2rem 1rem #838383d5;
}

.gifBox {
  width: 100%;
  min-height: 30rem;
  padding: 2rem;
  background-color: #fcfcfcd5;
}

.imgGroup {
  color: #252525d5;
  font-weight: bold;
  display: inline-flex;
}

.displayImgs {
  width: 20rem;
  height: 15rem;
  margin: 10px;
  box-shadow: 0.1rem 0.2rem 1rem #575757d5;
  border-radius: 3px;
}

.footer {
  background-color: #dbd9d9cd;
  padding: 2rem;
  display: flex;
  color: #696969d5;
  justify-content: center;
}
